body
{ 
    background-color: gainsboro;
    color: floralwhite;
}

#header
{
    text-align: right;
    border-bottom: 5px solid gainsboro;
    padding: 5px 20px 0 0;
    height: 200px;
    background-image: url(img/tatry.jpg);
    background-size: cover;
}   
span {
    font-size: 42px;
    margin : 20px 30px 0 0;
    display:block;
}

#container
{
    background-color: #082c4f;
    height: 100%;
    width: 960px;
    margin: auto;

}

#sidebar 
{
    height: 100%;
    width: 270px;
    float: left;

}

#menu ul
{
    margin-top: 40px;
    height: 100%;
    width: 200px;
}

#menu ul li
{
    list-style: none;
    display: block;
    text-align: center;
    padding: 5px 0px ;
} 

#menu ul li a
{
    background: #3b81c5;
    text-decoration: none;
    color: floralwhite ;
    display: block;
    padding: 3px 0px; 
    border: 1px solid #344343;
    border-radius: 15px;
} 

#menu ul li a:hover
{
    color: #082c4f;
} 

#content
{
    float: left;
    height: 100%;
    width: 640px;
    padding: 0 0 15px 20px;
    margin: 0 auto;
    letter-spacing: 1;
    border-left: 5px solid gainsboro;
    color: gainsboro;
}

h2
{
    text-align: center;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 10px;
    margin-top: 70px;
}

p
{
    text-indent: 50px;
    line-height: 20px;
    text-align: justify;
    font-family: 'Lato';
}

img
{
    float: right;
    margin: 0 0 5px 10px;
}

.top a
{
    color: floralwhite;
    float: right;
    margin-bottom: 50px;
}

#footer
{
    clear: both;
    text-align: center;
    border-top: 5px solid gainsboro;
    width: 100%;
}